@import 'app.variables';

.calendar {
  background: color($colors, light);
  ion-note {
    font-size: 12px;
    align-self: flex-start;
    margin-top: 14px;
  }
  ion-note ion-icon {
    width: 12px;
    max-width: 12px;
    height: 12px;
    max-height: 12px;
    line-height: 12px;
    text-align: center;
  }
  ion-col {
    padding: 0;
  }
  button ion-label, a ion-label {
    pointer-events: none;
  }
}

.bg-white {
  background: white;
}

